<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>*****Table*****</h2>
    <table class="table">
        <thead class="thead-light">
        <th>글번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>조회수</th>
        </thead>
            <tr th:each="list :${List}">
                <td>[[${list.boardId}]]</td>
                <td>[[${list.name}]]</td>
                <td>
                    <a th:href="@{/view(boardId=${list.boardId})}">
                    [[${list.title}]]
                    </a>
                </td>
                <td>[[${list.count}]]</td>
            </tr>
    </table>
    <button id="uploadBtn" onclick="location.href='/upload'" class="btn btn-info btn-sm float-right">새 게시물 작성</button>
</div>




</body>
</html>